$header-topbar-bg: #864343;
$header-bg: #723636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$header-text-color: #ffffff;
$menu-background-color: #ffffff;
$menu-hover-text-color: #ffffff;
$body-background-color: #ffffff;

$panel-bar--dots-inactive-background-color: #e1e1e1;
$panel-bar--bar-color: #e2e2e2;

$form-border-color: #292929;
