.feature-box {
	display: block;
	border: 1px solid #b6b6b6;
	text-align: center;
	margin-top: 40px;
	min-height: 121px
}
.feature-box .icon {
	transform: translateY(-50%)
}
.feature-box .icon i {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	position: relative;
	color: #2a2a2a;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #b6b6b6
}
.feature-box .icon::before {
	content: '';
	border: 1px solid #b6b6b6;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 76px;
	height: 76px;
	border-radius: 100%;
	background-color: #ffffff;
	z-index: -1
}
.feature-box .content {
	text-transform: uppercase;
	color: #2a2a2a;
	margin-top: -0.5rem;
	letter-spacing: 1px
}
.feature-box .content h5 {
	font-weight: 600;
	margin: 0
}
.feature-box .content p {
	font-weight: 300
}
.feature-box:hover, .feature-box.active {
	text-decoration: none
}
.feature-box:hover i, .feature-box.active i {
	background-color: #d58e32;
	color: #ffffff;
	border-color: #d58e32
}
.feature-box:hover .content, .feature-box.active .content {
	color: #d58e32
}
@media (max-width: 475px) {
	.feature-box {
		min-height: 142px
	}
}