header {
  .top-bar {
    background-color: $header-topbar-bg;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        line-height: 55px;

        a {
          color: $header-text-color;
          font-size: 13px;

          &:hover {
            color: $primary;
            text-decoration: none;
          }
        }
      }
    }

    .text-left ul li {
      margin-right: 1.5rem;

      i {
        margin-left: 5px
      }
    }

    .text-right ul li {
      margin-left: 1.5rem;

      i {
        margin-right: 5px
      }
    }
  }

  .company-claim {
    background-color: $header-bg;

    .container > .row {
      height: 145px;
    }

    .phone-number {
      p {
        margin: 0;
        font-size: 17px;
        line-height: 42px;
        color: rgb(216, 216, 216);
        font-weight: 500;

        i {
          font-size: 32px;
          color: $primary;
          vertical-align: middle;
          margin-top: -3px;
          margin-right: 0.8rem;
        }
      }
    }

    .cart {

      .cart-box {
        display: flex;
        justify-content: flex-end;
        position: relative;
        color: $header-text-color;
        flex-wrap: nowrap;

        .cart-icon {
          @extend %animate;
          background-color: $primary;
          width: 55px;
          height: 50px;
          border-radius: 3px;
          font-size: 20px;
          line-height: 50px;

          i {
            margin-right: 20px;
          }
        }

        .cart-counter-block {
          @extend %animate;
          background-color: $primary;
          height: 11px;
          width: 50%;
        }

        .cart-counter-block--top {
          border-radius: 0 3px 0 0;
        }

        .cart-counter-block--bottom {
          border-radius: 0 0 3px 0;
        }

        .cart-counter-wrapper {
          margin-left: -14px;
        }

        .cart-counter {
          height: 28px;
          border-radius: 14px;
          background-color: $header-bg;
          align-items: center;
          font-size: 14px;
          color: rgb(224, 227, 237);
          line-height: 28px;
          padding-left: 5px;
          min-width: 28px;
          text-align: center;
        }

        &:hover {
          .cart-icon, .cart-counter-block {
            background-color: lighten($primary, 10%);
          }
        }
      }
    }
  }

  .menu-bar {
    box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
    background-color: $menu-background-color;

    .container > .row {
      height: 84px;
    }

    .menu {
      display: flex;
      align-self: stretch;

      ul.main-menu {
        margin: 0;
        padding: 0;
        display: flex;

        > li {
          list-style: none;
          display: flex;
          align-items: stretch;

          &:hover {
            .submenu {
              display: flex;
            }
          }

          > a {
            color: $text-color;
            text-transform: uppercase;
            font-size: 12px;
            padding: 1rem;
            text-decoration: none;
            display: flex;
            align-items: center;
            border-top: 4px solid $menu-background-color;
            font-weight: 500;
            letter-spacing: 1px;

            &:hover,
            &.active {
              background-color: $primary;
              color: $menu-hover-text-color;
              border-color: $primary;
            }

            &.active {
              border-color: $text-color;
            }
          }
        }
      }
    }

    .submenu {
      display: none;
      background-color: #363636;
      border-radius: 0;
      margin: 0;
      background-clip: unset;
      position: absolute;
      top: 100%;
      right: 15px;
      z-index: 1000;
      float: left;
      font-size: 14px;

      .submenu-heading {
        text-transform: uppercase;
        border-bottom: 1px solid #b8b8b8;
      }

      ul {
        list-style: none;
        padding: 10px 0px 10px 20px;
        &:last-of-type {
          padding-right: 20px;
        }
      }

      li {
        display: block;
        width: 130px;
      }

      a {
        display: block;
        color: #b8b8b8;
        text-decoration: none;
        width: 100%;
        height: 40px;
        line-height: 40px;

        &:hover {
          text-decoration: none;
          color: #ffffff;
          background-color: $primary;
        }
      }
    }

    .search-form {
      border: 1px solid $form-border-color;
      display: inline-flex;
      height: 45px;
      color: $text-color;

      .category {
        border-right: 1px solid $form-border-color;
        display: flex;
        align-items: center;
        position: relative;

        i:first-child {
          color: $primary;
          position: absolute;
          left: 10px;
          z-index: 0;
        }

        i:last-child {
          position: absolute;
          right: 10px;
          z-index: 0;
        }

        select {
          -webkit-appearance: none;
          border: 0;
          background-color: transparent;
          outline: none;
          padding: 5px 30px 5px 35px;
          font-size: 14px;
          position: relative;
          z-index: 1;
        }
      }

      .search-field {
        display: flex;
        align-items: center;
        position: relative;

        input {
          border: 0;
          padding-left: 10px;
          font-size: 14px;
          outline: none;

          &::placeholder {
            color: $text-color;
          }
        }

        button {
          border: 0;
          background-color: transparent;
          outline: none;
        }
      }
    }
  }
}
