.panel-bar {
  margin-bottom: 30px;
  
  .row > * {
    border-bottom: 4px solid $panel-bar--bar-color;
  }

  .heading {
    position: relative;

    h3 {
      color: $primary;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 38px;
      margin: 0;
      letter-spacing: 1px
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 45px;
      border-bottom: 4px solid $primary;
    }
  }

  .menu {
    text-align: center;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        margin: 0 0.5rem;
        font-weight: 600;

        a {
          color: $text-color;
          position: relative;
          text-decoration: none;
          font-size: 18px;
          display: block;

          &.active,
          &:hover {
            &::before {
              content: '';
              position: absolute;
              bottom: -4px;
              left: 0;
              width: 100%;
              border-bottom: 4px solid $primary;
            }
          }
        }
      }
    }
    // override default bootstrap settings
    .nav-link {
      border: unset;
      border-color: unset;
      background-color: transparent;
      color: $text-color;
      border-radius: unset;
      padding: unset;
    }
  }

  .dots {
    ul {
      margin: 0;
      padding: 0 0 0 1rem;
      list-style: none;
      background-color: $body-background-color;
      transform: translateY(15px);

      li {
        display: inline-block;
        margin-left: 0.5rem;

        a {
          display: block;
          width: 13px;
          height: 13px;
          border-radius: 6px;
          background-color: $panel-bar--dots-inactive-background-color;

          &.active,
          &:hover {
            background-color: $primary;
          }
        }
      }
    }
  }
}
