.post-box {
  margin-bottom: 2rem;
  
  .cover {
    padding: 70% 25px 0 25px;
    background: {
      color: #f4f5f7;
      size: cover;
      position: center;
    }

    .details {
      padding: 15px 20px;
      display: flex;
      background-color: #ffffff;
      font-size: 14px;

      & > * {
        flex: 1 1 auto;
      }

      .date {
        text-align: left;
      }

      .comments {
        text-align: right;
      }
    }
  }

  .post-info {
    padding: 25px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
      color: rgb(103,103,103);
      text-align: justify;
    }

    .more {
      text-align: center;
      padding-top: 30px;
    }
  }
}
.blog-img-1 {
	background-image: url("https://images.pexels.com/photos/279645/pexels-photo-279645.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260")
}
.blog-img-2 {
	background-image: url("https://images.pexels.com/photos/667838/pexels-photo-667838.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
}
.blog-img-3 {
	background-image: url("https://images.pexels.com/photos/9538/desk-office-computer-work.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
}